&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;packages&gt;
  &lt;package id=&quot;NAudio&quot; version=&quot;1.10.0&quot; targetFramework=&quot;net472&quot; /&gt;
  &lt;package id=&quot;MaterialDesignColors&quot; version=&quot;5.3.0&quot; targetFramework=&quot;net472&quot; /&gt;
  &lt;package id=&quot;Microsoft.Xaml.Behaviors.Wpf&quot; version=&quot;1.1.77&quot; targetFramework=&quot;net472&quot; /&gt;
  &lt;package id=&quot;MaterialDesignThemes&quot; version=&quot;5.3.0&quot; targetFramework=&quot;net472&quot; /&gt;
  &lt;package id=&quot;MaterialDesignExtensions&quot; version=&quot;3.3.0&quot; targetFramework=&quot;net472&quot; /&gt;
&lt;/packages&gt;